<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>done</title>
    {#    importing css #}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
    <link rel="script" href="{% static 'materialize/js/materialize.js' %}">
    <link rel="script" href="{% static 'js/jquery.js' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Quiz Master</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="button" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
<div class="jumbotron">
	<div class="container">
		<h1>Your score is {{ score }}.</h1>
		<p>You attempted {{ attempted }} questions.<br/>Your correctly answered the questions...
        {% for each in correctlyanswered %}
            {{ each }}
        {% endfor %}
        </p>
		<p>
			<a class="btn btn-primary btn-lg" href="/quiz/home/">Back Home</a>

		</p>
	</div>
</div>
</div>
</body>
</html>